<div class="ydc-column ydc-column-2">
    <div class="ydc-menu">
        <ul>
            <li class="ydc-menu-item">
                <a href="./index.html" class="active"><i class="ydc-icon ydc-icon-home fl"></i>首页</a>
            </li>
            <li class="ydc-menu-item">
                <a href="./release.html"><i class="ydc-icon ydc-icon-find fl"></i>发布</a>
            </li>
            <li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-file fl"></i>管理
								</span>
                <ul>
                    <li>
                        <a href="./content.html">分类管理</a>
                    </li>
                    <li>
                        <a href="./content.html">内容管理</a>
                    </li>
                </ul>
            </li>
            <li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-record fl"></i>数据
								</span>
                <ul>
                    <li>
                        <a href="./subscribe.html">阅读数据</a>
                    </li>
                </ul>
            </li>
            <li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-set fl"></i>设置
								</span>
                <ul>
                    <li>
                        <a href="./info.html">账号信息</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>